*
{
  margin: 0;
  outline: none;
  padding: 0;
}
html
{
  width: 100%;
}
body
{
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
  width: 100%;
}
.main
{
  text-align: center;
}
h3
{
  font-size: 20px;
  line-height: 300%;
}
ul
{
  display: inline-block;
  text-align: left;
  width: auto;
}
li
{
  list-style-type: none;
}
li:before
{
  content: '\2714';
  font-weight: bold;
  padding-right: 8px;
}
li > ul
{
  display: block !important;
}
li > ul li
{
  margin-left: 20px;
}
li > ul li:before
{
  content: '\2713';
  font-weight: normal;
  padding-right: 8px;
}